<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <script src="/js/utils.js"></script>
    <title><%= character['name'] %></title>
</head>
<body class="d-flex text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card mb-3" style="max-width: 1040px;background-color: #212529ab!important;">
          <div class="row g-0">
            <div class="col-md-6" style="margin-top:30px">
              <% if(character['image'] != null) {%>
                <span><img src="<%= character['image'] %>" style="width: 70%;height: 200px;background-size: cover;object-fit: cover;object-position: 50% 15%;" class="img-thumbnail" alt="img_not_found"></span>
              <% } 
                else
                { %>
                <span><i class="fas fa-male fa-10x p-2"></i></span>
              <%}
              %>  
            </div>
            <div class="col-md-6" style="margin-top:30px">
              <div class="card-body">
                <h5 class="card-title"><%= character['name'] %></h5>
                <% if(character['birth_year'] != null) {%>
                <p class="card-text">Nato il: <%= character['birth_year'] %></p>
                <% } %>
                <% if(character['eye_color'] != null) {%>
                  <p class="card-text">Colore occhi: <%= character['eye_color'] %></p>
                <% } %>
                <% if(character['gender'] != null) {%>
                  <p class="card-text">Genere: <%= character['gender'] %></p>
                <% } %>
                <% if(character['hair_color'] != null) {%>
                  <p class="card-text">Colore capelli: <%= character['hair_color'] %></p>
                <% } %>
                <% if(character['height'] != null) {%>
                  <p class="card-text">Altezza: <%= character['height'] %> cm</p>
                <% } %>
                <% if(character['mass'] != null) {%>
                  <p class="card-text">Peso: <%= character['mass'] %> kg</p>
                <% } %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                   Film in cui appare: 
                  </div>
                  <div id="filmInCuiAppare"></div>
                </div>
                <div class="col-md-6">
                  <div class="">
                   Prima apparizione in ordine di storia: 
                  </div>
                  <div id="filmInCuiAppareInOrdineDiStoria"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                    Prima apparizione in ordine di uscita dei film: 
                  </div>
                  <div id="filmInCuiAppareInOrdineDiUscitaDelFilm"></div>
                </div>

                <div class="col-md-6">
                  <div class="">
                    Prima menzione in ordine di storia dei film: 
                  </div>
                  <div id="filmMenzioneInOrdineDiStoriaDelFilm"></div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                    Prima menzione in ordine di uscita dei film: 
                  </div>
                  <div id="filmMenzioneInOrdineDiUscitaDelFilm"></div>
                </div>
                
                <div class="col-md-6">
                  <div class="">
                    Personaggi che non conosce:
                  </div>

                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div id="personaggiCheNonConosce" class="carousel-inner">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                    Seleziona personaggio:
                  </div>
                  <select id="select1" class="form-select">
                  </select>
                  <button type="button" onclick="search()" style="width:100%;margin-top:10px" class="btn btn-warning">Cerca interazioni personaggi</button>
                  <div class="" style="margin-top:20px">
                    Ha interagito con il personaggio selezionato?:
                  </div>
                  <div id="interazioneConPersonaggio">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                    Seleziona personaggio:
                  </div>
                  <select id="select2" class="form-select">
                  </select>
                  <button type="button" onclick="search1()" style="width:100%;margin-top:10px" class="btn btn-warning">Cerca interazioni personaggi</button>
                  <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel" style="margin-top:20px">
                    <ul id="interazioneConPersonaggioCompaionoInsieme" class="list-group list-unstyled list-group-flush">
                    </ul>
                  </div>
                </div>
             </div>
           </div>  

           <div class="col-md-12">
            <div class="row p-3">
              <div class="col-md-6">
                <div class="">
                  Seleziona personaggio:
                </div>
                <select id="select3" class="form-select">
                </select>
                <button type="button" onclick="search2()" style="width:100%;margin-top:10px" class="btn btn-warning">Cerca personaggi che conoscono:</button>
                <div class="">
                  Lista di personaggi che conoscono entrambi:
                </div>
                <ul id="listaDiPersonaggiCheConosconoEntrambi" class="list-group list-unstyled list-group-flush">
                </ul>
              </div>
              <div class="col-md-6">
                <div class="">
                  Percorso minore per arrivare da un personaggio all'altro:
                </div>
                <select id="select4" class="form-select">
                </select>
                <button type="button" onclick="search3()" style="width:100%;margin-top:10px" class="btn btn-warning">Cerca cammino minimo:</button>
                <ul id="percorsoMin" class="list-group list-unstyled list-group-flush">
                </ul>
              </div>
           </div>
         </div>  

          </div>
      </div>

    </main>
  
    <%- include('./footer.ejs') %>
  </div>
 <script>
   var character = JSON.parse(htmlDecode("<%= JSON.stringify(character) %>"));
   //FILM IN CUI APPARE
   const filmInCuiAppare = ajaxCall('/character/films/<%=character["name"]%>');
   let stringaFilmInCuiAppare = '<div class="row justify-content-center">';
   filmInCuiAppare.films.forEach(element => {
    if(element["imgLink"] != null)
     stringaFilmInCuiAppare+='<div class="col-sm-6"><div class="card" style="border:none;background:none;"><div class="card-body"><div class="card-text"><span><img src='+'"'+element["imgLink"]+'" style="max-width: 150px;max-height: 150px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    else
     stringaFilmInCuiAppare+='<div class="col-sm-6"><div class="card" style="border:none;background:none;><div class="card-body"><div class="card-text"><span><i class="fas fa-film fa-10x p-2"></i></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    });
   stringaFilmInCuiAppare+='</div>';
   $('#filmInCuiAppare').empty();
   $('#filmInCuiAppare').append(stringaFilmInCuiAppare);

   //PRIMA APPARIZIONE IN ORDINE DI STORIA 
   const filmInCuiAppareInOrdineDiStoria = ajaxCall('/film/appeared/firstTimeStory/<%=character["name"]%>');
   let stringaFilmInCuiAppareInOrdineDiStoria = '<div class="row justify-content-center">';
   filmInCuiAppareInOrdineDiStoria.film.forEach(element => {
    if(element["imgLink"] != null)
    stringaFilmInCuiAppareInOrdineDiStoria+='<div class="col-sm-6"><div class="card" style="border:none;background:none;"><div class="card-body"><div class="card-text"><span><img src='+'"'+element["imgLink"]+'" style="max-width: 150px;max-height: 150px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    else
    stringaFilmInCuiAppareInOrdineDiStoria+='<div class="col-sm-6"><div class="card" style="border:none;background:none;><div class="card-body"><div class="card-text"><span><i class="fas fa-film fa-10x p-2"></i></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    });
    stringaFilmInCuiAppareInOrdineDiStoria+='</div>';
   $('#filmInCuiAppareInOrdineDiStoria').empty();
   $('#filmInCuiAppareInOrdineDiStoria').append(stringaFilmInCuiAppareInOrdineDiStoria);

   //PRIMA APPARIZIONE IN ORDINE DI USCITA DEI FILM
   const filmInCuiAppareInOrdineDiUscitaDelFilm = ajaxCall('/film/appeared/firstTimeFilmPub/<%=character["name"]%>');
   let stringaFilmInCuiAppareInOrdineDiUscitaDelFilm = '<div class="row justify-content-center">';
    filmInCuiAppareInOrdineDiUscitaDelFilm.film.forEach(element => {
    if(element["imgLink"] != null)
    stringaFilmInCuiAppareInOrdineDiUscitaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;"><div class="card-body"><div class="card-text"><span><img src='+'"'+element["imgLink"]+'" style="max-width: 150px;max-height: 150px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    else
    stringaFilmInCuiAppareInOrdineDiUscitaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;><div class="card-body"><div class="card-text"><span><i class="fas fa-film fa-10x p-2"></i></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    });
    stringaFilmInCuiAppareInOrdineDiUscitaDelFilm+='</div>';
   $('#filmInCuiAppareInOrdineDiUscitaDelFilm').empty();
   $('#filmInCuiAppareInOrdineDiUscitaDelFilm').append(stringaFilmInCuiAppareInOrdineDiUscitaDelFilm);

   //PRIMA MENZIONE IN ORDINE DI STORIA DEI FILM
   const filmMenzioneInOrdineDiStoriaDelFilm = ajaxCall('/film/mentioned/firstTimeStory/<%=character["name"]%>');
   let stringaFilmMenzioneInOrdineDiStoriaDelFilm = '<div class="row justify-content-center">';
    filmMenzioneInOrdineDiStoriaDelFilm.film.forEach(element => {
    if(element["imgLink"] != null)
    stringaFilmMenzioneInOrdineDiStoriaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;"><div class="card-body"><div class="card-text"><span><img src='+'"'+element["imgLink"]+'" style="max-width: 150px;max-height: 150px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    else
    stringaFilmMenzioneInOrdineDiStoriaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;><div class="card-body"><div class="card-text"><span><i class="fas fa-film fa-10x p-2"></i></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    });
    stringaFilmMenzioneInOrdineDiStoriaDelFilm+='</div>';
   $('#filmMenzioneInOrdineDiStoriaDelFilm').empty();
   $('#filmMenzioneInOrdineDiStoriaDelFilm').append(stringaFilmMenzioneInOrdineDiStoriaDelFilm);

   //PRIMA MENZIONE IN ORDINE DI USCITA DEI FILM
   const filmMenzioneInOrdineDiUscitaDelFilm = ajaxCall('/film/mentioned/firstTimeFilmPub/<%=character["name"]%>');
   let stringafilmMenzioneInOrdineDiUscitaDelFilm = '<div class="row justify-content-center">';
    filmMenzioneInOrdineDiUscitaDelFilm.film.forEach(element => {
    if(element["imgLink"] != null)
    stringafilmMenzioneInOrdineDiUscitaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;"><div class="card-body"><div class="card-text"><span><img src='+'"'+element["imgLink"]+'" style="max-width: 150px;max-height: 150px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    else
    stringafilmMenzioneInOrdineDiUscitaDelFilm+='<div class="col-sm-6"><div class="card" style="border:none;background:none;><div class="card-body"><div class="card-text"><span><i class="fas fa-film fa-10x p-2"></i></span></div><h5 class="card-title"><a href="/film/'+element['title']+'">'+element['title']+'</a></div></div></div>'
    });
    stringafilmMenzioneInOrdineDiUscitaDelFilm+='</div>';
   $('#filmMenzioneInOrdineDiUscitaDelFilm').empty();
   $('#filmMenzioneInOrdineDiUscitaDelFilm').append(stringafilmMenzioneInOrdineDiUscitaDelFilm);
   
   //PERSONAGGI CHE NON CONOSCE
   const personaggiCheNonConosce = ajaxCall('/character/notknows/<%=character["name"]%>');
   let stringaPersonaggiCheNonConosce = '';
    count = 0;
    personaggiCheNonConosce.characters.forEach(element => {
    if(element["image"] != null)
    {
      if(count == 0)
      {
        stringaPersonaggiCheNonConosce+='<div class="carousel-item active"><img class="d-block w-100" style="width: 70%;height: 300px;background-size: cover;object-fit: contain;object-position: 50% 15%;" src='+'"'+element["image"]+'" alt="img_not_found"><div class="carousel-caption d-none d-md-block"><a href="/character/'+element['name']+'">'+element['name']+'</a></div></div>'
        count+=1;
      }
      else
      {
        stringaPersonaggiCheNonConosce+='<div class="carousel-item"><img class="d-block w-100" style="width: 70%;height: 300px;background-size: cover;object-fit: contain;object-position: 50% 15%;" src='+'"'+element["image"]+'" alt="img_not_found"><div class="carousel-caption d-none d-md-block"><a href="/character/'+element['name']+'">'+element['name']+'</a></div></div>'
      }
    }
    else
    {
      if(count == 0)
      {
        stringaPersonaggiCheNonConosce+='<div class="carousel-item active"><img class="d-block w-100" style="width: 70%;height: 300px;background-size: cover;object-fit: contain;object-position: 50% 15%;" src="/img/default-image.jpg" alt="img_not_found"><div class="carousel-caption d-none d-md-block"><a href="/character/'+element['name']+'">'+element['name']+'</a></div></div>'
        count+=1;
      }
      else
      {
        stringaPersonaggiCheNonConosce+='<div class="carousel-item"><img class="d-block w-100" style="width: 70%;height: 300px;background-size: cover;object-fit: contain;object-position: 50% 15%;" src="/img/default-image.jpg" alt="img_not_found"><div class="carousel-caption d-none d-md-block"><a href="/character/'+element['name']+'">'+element['name']+'</a></div></div>'
      }
    }
    });
   $('#personaggiCheNonConosce').empty();
   $('#personaggiCheNonConosce').append(stringaPersonaggiCheNonConosce);
   
   //Fai selezionare un altrio personaggio oltre a quello della pagina in c ui ti trovi e restituisci true o false a seconda se i personaggi hanno interagito oppure no (/character/interacted/:characterName1/:characterName2)
   const personaggi = ajaxCall('/characters/searchAll');
   let stringaDaAppendereAllaSelect = "";
   personaggi.characters.forEach(element => stringaDaAppendereAllaSelect+='<option value='+'"'+element['name']+'"'+'>'+element['name']+'</option>');
   $('#select1').append(stringaDaAppendereAllaSelect);
   $('#select2').append(stringaDaAppendereAllaSelect);
   $('#select3').append(stringaDaAppendereAllaSelect);
   $('#select4').append(stringaDaAppendereAllaSelect);
   function search()
   {
      selectedValues = $('#select1').val();
      const selectedValuesString = selectedValues.toString();
      if(selectedValuesString)
      {
        const personaggiInterazione = ajaxCall('/character/interacted/<%= character["name"] %>/'+selectedValuesString).isAppeared[0];
        $('#interazioneConPersonaggio').empty();
        if(personaggiInterazione)
          $('#interazioneConPersonaggio').append('si');
        else
          $('#interazioneConPersonaggio').append('no');
      }
    }
    function search1()
    {
      selectedValues = $('#select2').val();
      const selectedValuesString = selectedValues.toString();
      if(selectedValuesString)
      {
        const personaggiInterazione = ajaxCall('/character/speak/<%= character["name"] %>/'+selectedValuesString);
        $('#interazioneConPersonaggio').empty();
        if(personaggiInterazione.films.length > 0)
        {
          stringaDaAppendereAllaSelect = "<li>Film in cui compaiono:</li>";
          personaggiInterazione.films[0][0].forEach(element => stringaDaAppendereAllaSelect+='<li>'+element+'</li>');
          stringaDaAppendereAllaSelect += '<li style="margin-top:20px">Numero di volte in cui sono apparsi insieme:</li>';
          stringaDaAppendereAllaSelect += '<li>'+personaggiInterazione.films[0][1]+'</li>';
          $('#interazioneConPersonaggioCompaionoInsieme').empty();
          $('#interazioneConPersonaggioCompaionoInsieme').append(stringaDaAppendereAllaSelect);       
        }
        
      }
    }
    function search2()
    {
      selectedValues = $('#select3').val();
      const selectedValuesString = selectedValues.toString();
      if(selectedValuesString)
      {
        const personaggiCheConoscono = ajaxCall('/character/commonKnown/<%= character["name"] %>/'+selectedValuesString);
        console.log(personaggiCheConoscono)
        $('#listaDiPersonaggiCheConosconoEntrambi').empty();
        $('#listaDiPersonaggiCheConosconoEntrambi').append(stringaDaAppendereAllaSelect);       
      }
    }
    function search3()
    {
      selectedValues = $('#select4').val();
      const selectedValuesString = selectedValues.toString();
      if(selectedValuesString)
      {
        const camminoMinimo = ajaxCall('/character/shortestPath/<%= character["name"] %>/'+selectedValuesString);
        console.log(camminoMinimo)
      }
    }

 </script> 
</body>
</html>