<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <script src="/js/utils.js"></script>
    <title>Lista film</title>
</head>
<body class="d-flex text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <% for(var i=0; i<6; i++) {%>
        <% if (i % 3 == 0) { %>
          <div class="row d-flex justify-content-center  mb-auto">
        <% } %>  
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
              <input class="p-2 mx-3 mt-3 form-check-input" type="checkbox" value="" id="<%= films[i]['title'] %>">
            <% if(films[i]['imgLink'] != null) {%>
              <span><img src="<%= films[i]['imgLink'] %>" style="max-width: 200px;max-height: 250px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span>
            <% } 
              else
              { %>
              <span><i class="fas fa-film fa-10x p-3"></i></span>
            <%}
            %>  
            <div class="card-body">
              <h5 class="card-title text-truncate" style="max-width: 400px;"><%= films[i]['title'] %></h5>
              <!--<p class="card-text text-truncate" style="max-width: 400px;">Con la partecipazione di uno scemo chiamato Lorenzo</p>!-->
              <a href='/film/<%= films[i]["title"] %>' class="btn btn-warning">Vedi scheda film</a>
            </div>
          </div>
        </div>
        <% if (i % 3 == 2) { %>
        </div>
        <% } %>  
      <% } %>
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="col-sm-9">
          <div class="card" style="background-color: #212529ab!important;">
            <div class="card-body">
              <h5 class="card-title justify-content-center">Cerca personaggi menzionati nei film selezionati</h5>
              <button type="button" onclick="searchMenzionati()" class="btn btn-warning">Cerca personaggi menzionati</button>
              <button type="button" onclick="searchAppaiono()" class="btn btn-warning">Cerca personaggi che appaiono</button>
            </div>
          </div>
        </div>    
      </div> 
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="col-sm-9">
          <div class="card" style="background-color: #212529ab!important;">
            <div class="card-body">
              <h5 class="card-title justify-content-center"> Personaggi menzionati nei film selezionati: </h5>
              <ul id="spawnCharInter" class="list-group list-unstyled list-group-flush">
              </ul>
            </div>
          </div>
        </div>    
      </div> 
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="col-sm-9">
          <div class="card" style="background-color: #212529ab!important;">
            <div class="card-body">
              <h5 class="card-title justify-content-center">  Personaggi che appaiono nei film selezionati: </h5>
              <ul id="spawnCharInter2" class="list-group list-unstyled list-group-flush">
              </ul>
            </div>
          </div>
        </div>    
      </div> 
    </main>
    <%- include('./footer.ejs') %>
  </div>
</body>
<script> 
  var films = JSON.parse(htmlDecode("<%= JSON.stringify(films) %>"));
  function searchMenzionati()
  {
    selectedValues = $('.form-check-input:checkbox:checked');
    if(selectedValues.length > 0)
    {
      let stringaDaPassare = "";
      selectedValues.each(element => stringaDaPassare+= selectedValues[element]['id']+",");
      stringaDaPassare = stringaDaPassare.substr(0,stringaDaPassare.length-1);
      const personaggiMenzionati = ajaxCall('/film/mentioned/'+stringaDaPassare);
      stringaDaAppendere = "";
      personaggiMenzionati.characters.forEach(element => stringaDaAppendere+='<li><a href="/character/'+element['name']+'">'+element['name']+'</a></li>');
        $('#spawnCharInter').empty();
        $('#spawnCharInter').append(stringaDaAppendere);
      console.log(stringaDaAppendere);
    }
    else
    {
      $('#spawnCharInter').empty();
    }
  }
  function searchAppaiono()
  {
    selectedValues = $('.form-check-input:checkbox:checked');
    if(selectedValues.length > 0)
    {
      let stringaDaPassare = "";
      selectedValues.each(element => stringaDaPassare+= selectedValues[element]['id']+",");
      stringaDaPassare = stringaDaPassare.substr(0,stringaDaPassare.length-1);
      const personaggiMenzionati = ajaxCall('/film/appeared/'+stringaDaPassare);
      stringaDaAppendere = "";
      personaggiMenzionati.characters.forEach(element => stringaDaAppendere+='<li><a href="/character/'+element['name']+'">'+element['name']+'</a></li>');
        $('#spawnCharInter2').empty();
        $('#spawnCharInter2').append(stringaDaAppendere);
      console.log(stringaDaAppendere);
    } 
    else
    {
      $('#spawnCharInter2').empty();
    }
  }
</script>
</html>