<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <script src="/js/utils.js"></script>
    <title><%= film['title']%></title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card mb-3" style="max-width: 1040px;background-color: #212529ab!important;">
          <div class="row g-0">
            <div class="col-md-6">
              <% if(film['imgLink'] != null) {%>
                <span><img src="<%= film['imgLink'] %>" style="max-width: 200px;max-height: 250px;margin-top:20px" class="img-thumbnail" alt="img_not_found"></span>
              <% } 
                else
                { %>
                <span><i class="fas fa-film fa-10x p-3"></i></span>
              <%}
              %>  
            </div>
            <div class="col-md-6" style="margin-top:30px">
              <div class="card-body">
                <h5 class="card-title"><%= film['title']%></h5>
                <p class="card-text">Anno: <%= film['year']['low']%></p>
              </div>
            </div>
        </div>
        <select id="selectbellixima" class="form-select" multiple aria-label="multiple select example">
        </select>
        <button type="button" onclick="search()" class="btn btn-warning">Cerca interazioni personaggi</button>
        <div class="col-md-12">
          <div class="row p-3">
            <div class="col-md-6">
              <div class="">
              Interazioni con personaggio selezionato: 
              </div>
              <br>
              <ul id="spawnCharInter" class="list-group list-unstyled list-group-flush">
              </ul>
            </div>
          </div>
        </div>
    </main>
  
    <%- include('./footer.ejs') %>
  </div>
  <script>
    function search()
    {
      selectedValues = $('#selectbellixima').val();
      const selectedValuesString = selectedValues.toString();
      if(selectedValuesString)
      {
        const personaggiInterazioni = ajaxCall('/character/interactions/'+selectedValuesString+'/<%=film["title"]%>');
        let stringaDaAppendere = "";
        personaggiInterazioni.interactions.forEach(element => stringaDaAppendere+='<li><a href="/character/'+element[2]['name']+'">'+element[2]['name']+'</a></li>');
        $('#spawnCharInter').empty();
        $('#spawnCharInter').append(stringaDaAppendere);
      }
    }
    var films = JSON.parse(htmlDecode("<%= JSON.stringify(film) %>"));
    const personaggi = ajaxCall('/film/appeared/<%=film["title"]%>');
    let stringaDaAppendereAlChiodo = "";
    personaggi.characters.forEach(element => stringaDaAppendereAlChiodo+='<option value='+'"'+element['name']+'"'+'>'+element['name']+'</option>');
    $('#selectbellixima').append(stringaDaAppendereAlChiodo);
  </script>
</body>
</html>