<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <script src="/js/utils.js"></script>
    <title>Lista film</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <% for(var i=0; i<6; i++) {%>
        <% if (i % 3 == 0) { %>
          <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <% } %>  
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-film fa-10x p-3"></i></span>
            <div class="card-body">
              <h5 class="card-title text-truncate" style="max-width: 400px;"><%= films[i]['title'] %></h5>
              <!--<p class="card-text text-truncate" style="max-width: 400px;">Con la partecipazione di uno scemo chiamato Lorenzo</p>!-->
              <a href='/film/<%= films[i]["title"] %>' class="btn btn-warning">Vedi scheda film</a>
            </div>
          </div>
        </div>
        <% if (i % 3 == 2) { %>
        </div>
        <% } %>  
      <% } %>
    </main>
  
    <%- include('./footer.ejs') %>
  </div>
</body>
<script> 
  var films = JSON.parse(htmlDecode("<%= JSON.stringify(films) %>"));
  console.log(films);
  spawnPagination(films.length)
</script>
</html>