<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <title><%= film['title']%></title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card mb-3" style="max-width: 1040px;background-color: #212529ab!important;">
          <div class="row g-0">
            <div class="col-md-6">
              <span><i class="fas fa-film fa-10x p-3"></i></span>
            </div>
            <div class="col-md-6" style="margin-top:30px">
              <div class="card-body">
                <h5 class="card-title"><%= film['title']%></h5>
                <p class="card-text">Con la partecipazione di uno scemo chiamato Lorenzo</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                    Personaggi menzionati nel film: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi</li>
                    <li>Bocconcino</li>
                    <li>Lorenzo carpentieri</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="">
                    Personaggi che appaiono nel film: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi</li>
                    <li>Bocconcino</li>
                    <li>Lorenzo carpentieri</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    </main>
  
    <%- include('./footer.ejs') %>
  </div>
 
</body>
</html>